<div layout="column" ng-controller="AddPatientController as patientCtrl" layout-margin layout-fill layout-padding layout-align="center center">
	Agregar Paciente
	<form name="patientForm" ng-submit="patientCtrl.submit(patientRequest.id,patientCtrl.doctor.id)">
		<md-input-container layout-align="center center">
			<md-select ng-model="patientRequest" placeholder="Elija un paciente registrado">
				<md-option ng-value="patient" ng-repeat="patient in patientCtrl.listPatients | orderBy:'user.firstName' | orderBy:'user.lastName'">{{patient.user.lastName}} {{patient.user.firstName}}
				</md-option>
			</md-select>
		</md-input-container>
		<md-button class="md-button" type="sumbit" aria-label="doctor.addPatients.add" translate="doctor.addPatients.add" layout-align="center center">
		</md-button>
	</form>
	<md-button class="md-button" ng-click="patientCtrl.newPatient()" aria-label="doctor.addPatients.new" translate="doctor.addPatients.new" layout-align="center center">
	</md-button>
</div>