<div layout="column" ng-controller="NewPatientController as patientCtrl" layout-margin layout-fill layout-padding layout-align="center center">
	
	<ng-form name="patientForm" ng-submit="patientCtrl.submit(patientRequest)">

		<md-input-container layout-align="center center">
			<md-select ng-model="patientCtrl.patientRequest.user" placeholder="{{ 'newPatient.select' | translate }}">
				<md-option ng-value="user" ng-repeat="user in patientCtrl.users">{{user.lastName}} {{user.firstName}}
				</md-option>
			</md-select>
		</md-input-container>

		<label translate="newPatient.history"></label>
		<md-input-container>
			<label translate="newPatient.historyMenu.background"></label>
			<textarea ng-model="patientCtrl.patientRequest.history.background" title="newPatient.historyMenu.background" required></textarea>
		</md-input-container>

		<!--ng-form name="allergyForm" ng-submit="patientCtrl.addAllergy(patientCtrl.history)"-->
		<!-- Lista de Alergias -->
			<label translate="newPatient.historyMenu.allergies"></label><br>
			<div ng-repeat="allergy in patientCtrl.patientRequest.history.allergies">
				<span>{{newPatient.historyMenu.allergy.name | translate }}</span> {{ allergy.name }}<br>
				<span>{{newPatient.historyMenu.allergy.description | translate }}</span> {{ allergy.description }}<br>
				<span>{{newPatient.historyMenu.allergy.severity | translate }}</span> {{ allergy.severity }}<br>
			</div>

		<!-- Formulario para una nueva alergia -->
			<label>Nueva Alergia</label><br>
			<md-input-container>
				<label translate="newPatient.historyMenu.allergy.name"></label>
				<input ng-model="patientCtrl.allergy.name" title="newPatient.historyMenu.allergy.name" required></input>
			</md-input-container>
			<md-input-container>
				<label translate="newPatient.historyMenu.allergy.description"></label>
				<input ng-model="patientCtrl.allergy.description" title="newPatient.historyMenu.allergy.description" required></input>
			</md-input-container>
			<md-input-container>
				<label translate="newPatient.historyMenu.allergy.severity"></label>
				<input ng-model="patientCtrl.allergy.severity" title="newPatient.historyMenu.allergy.severity" required></input>
			</md-input-container>

			<md-button ng-click="patientCtrl.addAllergy(patientCtrl)" class="md-button" aria-label="Agregar Alergia" translate="Agregar Alergia" layout-align="center center">
			</md-button>
		<!--/ng-form-->

	</ng-form>
</div>