<div layout="row"  layout-margin layout-fill layout-padding layout-align="center center">

	<div layout="column" layout-align="center center">
		
		<div layout="row" layout-align="center center">
    		<md-button class="md-raised" ng-disabled="patientCtrl.isSelectedInConsultTab($index,1)" ng-click="patientCtrl.setInConsultTab($index,1)">
    			{{ 'consult.resume' | translate }}
    		</md-button>
    		<md-button class="md-raised" ng-disabled="patientCtrl.isSelectedInConsultTab($index,2)" ng-click="patientCtrl.setInConsultTab($index,2)">
    			{{ 'consult.vital-tab' | translate }}
    		</md-button>	
    		<md-button class="md-raised" ng-disabled="patientCtrl.isSelectedInConsultTab($index,3)" ng-click="patientCtrl.setInConsultTab($index,3)">
    			{{ 'consult.inform-tab' | translate }}
    		</md-button>
    	</div>

    	<div layout="row">

    		<div name="Resume" ng-show="patientCtrl.isSelectedInConsultTab($index,1)" layout="column" flex="50" layout-align="start start"
    		flex-order="1">

				<strong translate="consult.subjective"></strong>
				<span>{{consult.soapnote.subjective}}</span>
				<br>

				<strong translate="consult.objective"></strong>
				<span>{{consult.soapnote.objective}}</span>
				<br>

				<strong translate="consult.diagnostics"></strong>
				<li translate="consult.no-diagnostics" ng-show="patientCtrl.isEmpty(consult.diagnostics)"></li>
				<li ng-repeat="diagnostic in consult.diagnostics">{{diagnostic.details}}</li>
				<br>

				<strong translate="consult.plan"></strong>
				<span>{{consult.soapnote.plan}}</span>
				<span ng-show="patientCtrl.isEmpty(consult.soapnote.plan)">{{'consult.no-plan' | translate}}</span>
				<br>
				
				<strong translate="consult.comments"></strong>
				<span> {{consult.soapnote.comments}} </span>
			</div>

			<div layout="column" ng-show="patientCtrl.isSelectedInConsultTab($index,1)"	layout-align="start start" flex="50"
			flex-order="2" offset="10">
				<strong translate="consult.prescriptions"></strong>
				<li ng-repeat="prescription in consult.prescriptions">
					<strong>{{prescription.drug.name}}</strong>
					<span>{{prescription.drug.description}}</span>
					<span>{{prescription.indication.description}}</span>
				</li>
				<li ng-show="patientCtrl.isEmpty(patientCtrl.consult.prescriptions)" translate="consult.no-prescriptions"></li>
				<br>

				<strong translate="consult.instructions"></strong>
				<li ng-repeat="instruction in consult.instructions">{{instruction.instruction}}</li>
				<li ng-show="patientCtrl.isEmpty(consult.instructions)" translate="consult.no-instructions"></li>
				<br>

				<div name="Exams" layout="column" flex="100">
					<strong translate="consult.exams-tab"></strong>
					<div ng-repeat="exam in consult.examRequests">
						<li>{{ exam.type }}</li>
					</div>
					<li ng-show="patientCtrl.isEmpty(consult.examRequests)" translate="consult.no-exams-ordered"></li>
				</div>
				<br>

				<div name="Files" ng-show="patientCtrl.isSelectedInConsultTab($index,1)" layout="column" flex="100">
					<strong translate="consult.files-tab"></strong>
					<div layout="row" layout-align="space-between center" ng-repeat="exam in consult.examRecieved">
						<li>{{exam.type}}</li>
						<md-button class="md-raised" aria-label="{{ consult.download | translate}}" href="http://localhost:8080/occupational/file/getImage/{{exam.results.id}}">
							<span translate="consult.download"></span>
							<ng-md-icon icon="file_download" style="fill: gray">
							</ng-md-icon>
						</md-button>
					</div>
					<li ng-show="patientCtrl.isEmpty(consult.examRecieved)" translate="consult.no-exams-recieved"></li>
				</div>	
			</div>

			<div name="Vitals" ng-show="patientCtrl.isSelectedInConsultTab($index,2)" layout="column" flex="100">
				<table style="width:100%">
				<tr ng-repeat="vitalsign in consult.vitalsigns | orderBy:'name'">
					<td><strong>{{vitalsign.name}}: </strong></td>
					<td><span>{{vitalsign.description}}</span></td>
				</tr>
				</table>
				<span ng-show="patientCtrl.isEmpty(consult.vitalsigns)" translate="consult.no-vitalsigns"></span>
			</div>

			<div name="Inform" ng-show="patientCtrl.isSelectedInConsultTab($index,3)" layout="column" flex="100" layout-align="center center">
				<div name="InformTabs" layout="row">
					<md-button class="md-raised" aria-label="{{ consult.inform | translate}}" ng-click="patientCtrl.setReportSelected($index,1)">
						<span translate="consult.inform"></span>
					</md-button>
					<md-button class="md-raised" aria-label="{{ consult.rest | translate}}" ng-click="patientCtrl.setReportSelected($index,2)">
						<span translate="consult.rest"></span>
					</md-button>
				</div>
				
				<div flex="50" flex-md="100" layout="column" ng-show="patientCtrl.isReportSelected($index,1)">
					<div layout="row" layout-wrap layout-align="center center">
						<div flex="50" layout-align="center center" ng-repeat="item in patientCtrl.items">
							<md-checkbox ng-checked="patientCtrl.exists(item, consult.itemSelected)" ng-click="patientCtrl.toggle(item, consult.itemSelected)">
								{{ 'consult.' + item | translate }}
							</md-checkbox>
						</div>
						<div layout="column" flex="50">
							<li ng-repeat="selection in patientCtrl.selected | orderBy:selction">
								{{ 'consult.' + selection | translate }}
							</li>
							<md-button class="md-raised" aria-label="{{ consult.download | translate}}" ng-click="patientCtrl.generateInform(patientCtrl.informRequest,consult,'inform')">
								<span translate="consult.download"></span>
								<ng-md-icon icon="file_download" style="fill: gray">
								</ng-md-icon>
							</md-button>
						</div>
					</div>
				</div>

				<div name="Rest" ng-show="patientCtrl.isReportSelected($index,2)">
					<span> {{ 'consult.rest-prefix' | translate }} </span>
					<md-input-container size="4">
						<input ng-model="patientCtrl.informRequest.restDays" type="number" aria-label="{{ consult.days | translate}}" size="3" ng-maxlength="3">
					</md-input-container>
					<span> {{ 'consult.rest-suffix' | translate }} </span>

					<br>

					<md-button class="md-raised" aria-label="{{ consult.download | translate}}" ng-click="patientCtrl.generateInform(patientCtrl.informRequest,consult,'rest')">
						<span translate="consult.download"></span>
						<ng-md-icon icon="file_download" style="fill: gray">
						</ng-md-icon>
					</md-button>
				</div>
			</div>
    	</div>
	</div>
</div>