<div layout="row"  layout-margin layout-fill layout-padding layout-align="center center" flex="100">
	<div layout="column" flex="100" layout-align="center center">
		
		<div layout="row" layout-align="center center">
    		<md-button class="md-raised" ng-disabled="patientCtrl.isSelectedInConsultTab($index,1)" ng-click="patientCtrl.setInConsultTab($index,1)">
    			{{ 'consult.resume' | translate }}
    		</md-button>
    		<md-button class="md-raised" ng-disabled="patientCtrl.isSelectedInConsultTab($index,2)" ng-click="patientCtrl.setInConsultTab($index,2)">
    			{{ 'consult.vital-tab' | translate }}
    		</md-button>	
    		<md-button class="md-raised" ng-disabled="patientCtrl.isSelectedInConsultTab($index,3)" ng-click="patientCtrl.setInConsultTab($index,3)">
    			{{ 'consult.inform-tab' | translate }}
    		</md-button>
    	</div>

    	<div layout="row"  layout-align="space-around center">

    		<div name="Resume" ng-show="patientCtrl.isSelectedInConsultTab($index,1)" layout="column" flex="50" layout-align="start start">

				<strong translate="consult.subjective"></strong>
				<span>{{consult.soapnote.subjective}}</span>
				<br>

				<strong translate="consult.objective"></strong>
				<span>{{consult.soapnote.objective}}</span>
				<br>

				<strong translate="consult.diagnostics"></strong>
				<li translate="consult.no-diagnostics" ng-show="patientCtrl.isEmpty(consult.diagnostics)"></li>
				<li ng-repeat="diagnostic in consult.diagnostics">{{diagnostic.details}}</li>
				<br>

				<strong translate="consult.plan"></strong>
				<span>{{consult.soapnote.plan}}</span>
				<br>
				
				<strong translate="consult.comments"></strong>
				<span> {{consult.soapnote.comments}} </span>
				<br>
			</div>

			<div layout="column" ng-show="patientCtrl.isSelectedInConsultTab($index,1)" layout-align="start start" flex="50">
				<strong translate="consult.prescriptions"></strong>
				<li ng-repeat="prescription in consult.prescriptions">
					<strong>{{prescription.drug.name}}</strong>
					<span>{{prescription.drug.description}}</span>
					<span>{{prescription.indication.description}}</span>
				</li>
				<li ng-show="patientCtrl.isEmpty(patientCtrl.consult.prescriptions)" translate="consult.no-prescriptions"></li>
				<br>

				<strong translate="consult.instructions"></strong>
				<li ng-repeat="instruction in consult.instructions">{{instruction.instruction}}</li>
				<li ng-show="patientCtrl.isEmpty(consult.instructions)" translate="consult.no-instructions"></li>
				<br>

				<div name="Exams" layout="column" flex="100">
					<strong translate="consult.exams-tab"></strong>
					<div ng-repeat="exam in consult.examRequests">
						<li>{{ exam.type }}</li>
					</div>
					<li ng-show="patientCtrl.isEmpty(consult.examRequests)" translate="consult.no-exams-ordered"></li>
				</div>
				<br>

				<div name="Files" ng-show="patientCtrl.isSelectedInConsultTab($index,1)" layout="column" flex="100">
					<strong translate="consult.files-tab"></strong>
					<div layout="row" layout-align="space-between start" ng-repeat="exam in consultCtrl.consult.examRecieved">
						<li><strong>{{exam.type}}</strong></li>
						<md-button class="md-raised" aria-label="{{ consult.download | translate}}" ng-click="consultCtrl.download(exam.file)">
							<span translate="consult.download"></span>
							<ng-md-icon icon="file_download" style="fill: gray">
							</ng-md-icon>
						</md-button>
					</div>
					<li ng-show="patientCtrl.isEmpty(consult.examRecieved)" translate="consult.no-exams-recieved"></li>
				</div>	
			</div>
			<br>

			<div name="Vitals" ng-show="patientCtrl.isSelectedInConsultTab($index,2)" layout="column" flex="100">
				<div ng-repeat="vitalsign in consult.vitalsigns | orderBy:'name'">
					<strong>{{vitalsign.name}}: </strong>
					<span>{{vitalsign.description}}</span>
				</div>
				<span ng-show="patientCtrl.isEmpty(consult.vitalsigns)" translate="consult.no-vitalsigns"></span>
			</div>
    	</div>
	</div>
</div>