<div layout="column" ng-controller="DoctorMainController as doctorCtrl" layout-margin layout-fill layout-padding layout-align="center center">

	<md-button class="md-button" ng-click="doctorCtrl.addPatient" aria-label="doctor.addPatient" translate="doctor.addPatient">
	</md-button>
	<span translate="doctor.patients"></span>
	<md-list>
		<md-list-item ng-repeat="patient in doctorCtrl.listPatients" ng-click="goToPatient(patient)">
		    <!--img alt="{{ patient.username }}" ng-src="{{ patient.img }}" class="md-avatar" /-->
		    <p>{{ patient.username }}</p>
		    <md-icon md-svg-icon="communication:messenger" ng-click="doSecondaryAction($event)" aria-label="Open Chat" class="md-secondary md-hue-3" ng-class="{'md-primary': patient.newMessage}"></md-icon>
		</md-list-item>
	</md-list>
</div>
