<div layout="column" ng-controller="UserCreateController as userCtrl" layout-margin layout-fill layout-padding>

	<div layout="row" layout-align="center center">
		<md-content flex flex-order="1">
		</md-content>
		<md-content  layout="column" layout-sm="column" flex-order="2" layout-align="center start" layout-margin layout-padding>
			<form ng-submit="userCtrl.submit(userCtrl.user,userCtrl.repassword)" flex>

				<md-input-container>
					<label translate>user-create.username</label>
					<input ng-model="userCtrl.user.username" title="Username"></input>
				</md-input-container>

				<md-input-container>
					<label translate>user-create.password</label>
					<input ng-model="userCtrl.user.password" title="Username" type="password" required></input>
				</md-input-container>

				<md-input-container>
					<label translate>user-create.repassword</label>
					<input ng-model="userCtrl.repassword" title="Username" type="password" required></input>
				</md-input-container>

				<md-input-container>
					<label translate>user-create.first-name</label>
					<input ng-model="userCtrl.user.firstName" required></input>
				</md-input-container>

				<md-input-container>
					<label translate>user-create.last-name</label>
					<input ng-model="userCtrl.user.lastName" required></input>
				</md-input-container>
				
				<md-input-container>
					<label translate>user-create.ci</label>
					<input ng-model="userCtrl.user.ci"></input>
				</md-input-container>

				<md-input-container>
					<label translate>user-create.rif</label>
					<input ng-model="userCtrl.user.rif"></input>
				</md-input-container>

				<md-input-container>
					<label translate>user-create.phone</label>
					<input ng-model="userCtrl.user.phoneNumber"></input>
				</md-input-container>
				
				<md-input-container>
					<label translate>user-create.email</label>
					<input ng-model="userCtrl.user.email" required></input>
				</md-input-container>

				<md-input-container>
					<label translate>user-create.address</label>
					<input ng-model="userCtrl.user.address" title="Username"></input>
				</md-input-container>

				<md-button class="md-button" type="submit" aria-label="user-create.save" translate="user-create.save">
				</md-button>
			</form>
			
		</md-content>
		<md-content flex flex-order="3">
		</md-content>
	</div>
</div>